recursive-include meditor *
recursive-include win32 *
recursive-exclude meditor *.pyc
include inst_script.nsi
include MANIFEST.in
include README.rst
include requirement.txt
include rst.properties
include meditor.desktop
include screenshot.png
include setup.py
include themes.sh
