
[Desktop Entry]
Version=0.2.0.4
Name=RSTEditor
Comment=reStructuredText Editor
Exec=rsteditor
MimeType=text/plain;
Icon=rsteditor-text-editor
Terminal=false
Type=Application
Categories=Application;Office;
StartupNotify=true

