
[Desktop Entry]
Version=0.2.3.1
Name=MarkupEditor
Comment=Markup Editor
Exec=meditor
MimeType=text/plain;
Icon=meditor-text-editor
Terminal=false
Type=Application
Categories=Application;Office;
StartupNotify=true

